@import "./input-page.css";
@import "./navbar.css";
@import "./building-container.css";

:root {
    --dark-violet: #363040;
    --light-violet: #4D455D;
    --dark-pink: #E96479;
    --pink: pink;
    --cream-white : #F5E9CF;
    --greenblue: #7DB9B6;
    --orange-retro: #EA5455;
    --blue-retro: #002B5B;
}

* {
    box-sizing: border-box;
    /* background-color: red; */
    margin: 0;
}

body {
    background-color: var(--light-violet);
    width: 100vw;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-page {
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    /* background-color: red; */
}

/* for smaller screens */
@media (max-width: 700px) {
    .main-page {
        padding: 0.8rem;
    }
}

/* .root {
    border: 2px solid red;
} */

/* all below are redundant */
/* 
.floors-container {
    border: 1px solid brown;
    width: 80vw;
    height: 600px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: hsl(0, 7%, 31%);
}

.floor {
    height: 100%;
    border-bottom: 5px solid black;
    color: white;
    position: relative;
}

.call-btn {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 30px;  
    bottom: calc(50% - 25px);
    cursor: pointer;
}

.call-btn:active {
    background-color: gray;
    color: white;
}

.door {
    border: 1px solid hsl(300, 100%, 25%);
    background-color: purple;
    position: absolute;
    width: 10%;
    height: 120px;
    bottom: 5px;
    left: 300px;
    color: white;
    transition: bottom 3s;
} */